@model List<WebApplication2.Models.Apointment>
@{
    ViewBag.Title = "Apointments";
}

<h2>Apointments</h2>

<div class="jumbotron">
    <img src="~/images/back4.jpg" />
</div>

<table>
    <tr>
        <td class="col-lg-3">
            Doctor Name
        </td>
        <td class="col-lg-3">
            Pateint Name
        </td>
        <td class="col-lg-3">
            Date
        </td>
        <td class="col-lg-3">
            Time
        </td>
        <td class="col-lg-3">
            Delete
        </td>
    </tr>
    @for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <td class="col-lg-3">
                @Model[i].DocName
            </td>
            <td class="col-lg-3">
                @Model[i].PatName
            </td>
            <td class="col-lg-3">
                @Model[i].Datee
            </td>
            <td class="col-lg-3">
                @Model[i].TimeStart
            </td>
            <td class="col-lg-3">
                <a href="/admin/deleteapo/?id=@Model[i].Id">Delete</a>
            </td>
        </tr>
    }
</table>